

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.mat-mdc-card  {
  background-color: #b4b3b321 !important;
  padding: 10px;
  img {
    width: 280px;
    height: 250px;
    object-fit: cover;
    margin: 10px 0px;
  }

  button {
    background-color: #1976d2 !important;
  }
}

.dashboard-container {
  margin: 0;
  max-width: none;
}

.dashboard-grid {
  /* width: 100vw; */
  top: 0;
  left: 0;
  padding: 1em;
  display: inline-flex;
}

.header-toolbar {
  display: flex;
  justify-content: space-between;
}

@media (min-width: 1200px) {
  .css-5c1adp-MuiContainer-root {
      max-width: none !important;
  }
}