<div class="product-grid">
    <mat-card class="product-card" *ngFor="let product of products">
      <img mat-card-image [src]="product.image" alt="{{ product.name }}" />
      <mat-card-title>{{ product.name }}</mat-card-title>
      <mat-card-subtitle>₹  {{ product.price }}</mat-card-subtitle>
      <mat-card-content>
       {{ product.description }}
      </mat-card-content>
  
      <mat-card-actions class="card-footer">
        <mat-form-field appearance="outline" class="qty">
          <mat-label>Qty</mat-label>
          <input matInput type="number" [(ngModel)]="product.quantity" min="1" />
        </mat-form-field>
  
        <button mat-raised-button color="primary" (click)="addToCart(product)">
          Add to Cart
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
  